.offcanvas-header {

    display: flex;
    justify-content: center;
}

.offcanvas {
    background-color: #08afad;
    color: white;
}

.offcanvas-options-list li {

    list-style-type: none;
    line-height: 2.5;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* text-decoration: none !important; */
}

.offcanvas-body {
    padding: 0;
}

.nav-link-item {
    color: #04514D;
    text-decoration: none;
    width: 100%;
    font-size: 1.3rem;
    text-align: left;
    border-width: 10px;
    /* border-top: solid; */
    border-bottom: solid;
    border-color: #04514D;
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; */
    padding: 1rem;
    /* margin-top: 0.3rem;
    margin-bottom: 0.3rem; */
    font-weight: 600;
}

.offcanvas-icons {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}

.nav-link-item:hover {
    background-color: #6dc9c3;
    color: #0f7b77;
}

#sidebar {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#sidebar a.active {
    background-color: #0f7b77;
    color: #6dc9c3;
}

