.search-form{
    /* margin-top: 5rem; */
    width: 70%;
    text-align: center;
}

.search-component {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.searchbar{
    border : 0.1rem solid;
    border-radius: 25px;
}